footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-top: 1px solid var(--white);
    ion-icon{
        font-size: 2.5rem;
        color: var(--white);

        &:hover{
            color: rgba(255, 255, 255, 0.5);
        }
        &:active{
            color: rgba(255, 255, 255, 0.2);
        }
    }
    
}