.micro-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.micro{
    background: var(--white);

    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 9999px;

    ion-icon{
        font-size: 1.5rem;
    }
    &:hover{
        background: rgba(255, 255, 255, 0.8);
    }
    &:active{
        background: rgba(255, 255, 255, 0.5);
    }
}